
.right-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem 1rem;
    

}

.colors-container {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    
}





.order-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr ;
    gap: .5rem;
}

.product-name {
    font-size: 2rem;
    font-weight: 500;
}

.product-price {
    font-size: 2rem;
    font-weight: 700;
}
.long-desc {
    margin: 1rem 0 3rem;
}

.selected {
    font-weight: 700;
    border: 2px solid hsla(0, 47%, 52%, 1);

    color: hsla(0, 47%, 52%, 1);
}

.notselected {
    border: 2px solid hsla(0, 47%, 52%, 0.5);
    color: hsla(0, 47%, 52%, 0.5); 
    font-weight: 500;

}

.badge {
    
    border-radius: 25px;
 
    box-sizing: border-box;
    padding: .5rem 1rem;
    text-align: center;
    margin: .2rem .2rem 0 0;
    cursor: pointer;
    background-color: white;
    
}

.color:hover {
    font-weight: 700;
    border-color: hsla(0, 47%, 52%, 1);
    color: hsla(0, 47%, 52%, 1);
}
