.main-container {
  background-color: #f9efef;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 768px) {
    
}

@media (min-width: 960px) {
  .grid {
    grid-template-columns: 1fr 400px;
  }
}
