.btn {
    background-color: rgb(28, 28, 28);
    box-sizing: border-box;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 1rem 0;
    width: 100%;
    border-radius: 25px;
    margin: .3rem 0;
}

.btn:hover {
    background-color: rgb(60, 60, 60);
}